
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@500&display=swap');

:root{
    --first-color: #00f7ff;
    --text-color: hsl(203,8%,98%);
    --header-font: 'Oxanium', cursive;
    --regular-text: 'Montserrat';
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: var(--regular-text);
    font-size: var(--normal-font-size);
    background: rgb(0,0,0);
    background: linear-gradient(159deg, rgba(0,0,0,1) 16%, rgba(83,85,255,1) 71%, rgba(0,255,173,1) 100%);
    background-attachment:fixed;
    color: white;
    background-position: center;
    background-size: cover;
}

ul{
    list-style-type: none;
    display: flex;
}

.hamburger{
    width: 30px;
}

.close{
    width: 40px;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    font-family: var(--header-font);
}

.header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.logo{
    width: 100px;
}

.home{
    color: var(--first-color);
}

.navbar a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    font-size: 1.15rem;
}


.navbar a:hover{
    color: var(--first-color);
    transition: 1s;
}

#checkbox{
    display: none;
}

.icons{
    cursor: pointer;
    display: none;
    right: 5%;
}

.main{
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 10%;
    text-align: center;
}
.slider-text{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: start;
    align-items: center;
}

.main-text:first-child{
    font-weight: 200;
    font-size: 20px;
    text-transform:uppercase;
}

.clubname{
    font-weight: 700;
    font-size: 85px;
    letter-spacing: 1px;
    font-family: var(--header-font);
    margin-top: 2rem;
}
.more-button {
    margin-top: 2rem;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50px;
    width: 120px;
    height: 40px;
    color: white;
    font-family: var(--regular-text);
    cursor: pointer;
}
.more-button:hover{
    background-color: var(--first-color);
    transition: 1s ease;
}

.btn-container{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-description{
    font-weight: 100;
    text-transform:lowercase;
    margin-top: 1rem;
}

.images-carousel{
    width: 600px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 600%;
    height: 600px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 600px;
    height: 600px;
}

.navigation-manual{
    position: absolute;
    width: 600px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 3px solid white;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: var(--first-color);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

.details-section{
    width: 100%;
    padding: 1rem 10%;
    flex-direction: column;
}
.details-header{
    font-size: 70px;
    font-family: var(--header-font);
    font-weight: 700;
    width: 50%;
}
.numbers-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.details-box{
    display: flex;
    flex-direction: column;
    width: 45rem;
    text-wrap: wrap;
    height: 400px;
    align-content: center;
    border: 2px solid white;
    padding: 1.5rem;
    font-size: 16px;  
    margin-top: 2rem;
}
.number{
    color: var(--first-color);
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 1rem;
}
.detail{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 1rem;
}
.details-box:not(:last-child){
    margin-right: 10%;
}
.map-section{
    margin-top: 10rem;
    padding: 5rem 10%;
    width: 100%;
}   
.map-wrapper{
    width: 100%;
    height: 500px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}
.map{
    height: 100%;
    width: 50%;
    padding: 1rem;
}
.map-header{
    width: 20%;
    font-weight: 600;
    font-family: var(--header-font);
    font-size: 60px;
}

/* FOOTER STYLE STARTS*/
i{
    font-size: 2.4rem;
}
.footer{
    position: relative;
    padding-block: 3rem;
    background-color: black;
    color: white;
    font-family: var(--regular-text);
    bottom: 0;
}

.footer-container{
    max-width: 116rem;
    margin: auto;
    padding: 0 10%;
    overflow: hidden;
    resize: horizontal;
}

.footer-title{
    font-size: 1.8rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 1.5rem;
    font-family: var(--header-font);
}

.footer-list{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.footer-list-item{
    list-style: none;
}

.footer-list-link{
    text-decoration: none;
    color: white;
    transition: color 1s;
}

.footer-list-link:hover{
    color: var(--first-color);
}

.footer-divider{
    margin-block: 2.5rem;
    border: none;
    border-top: 1px solid rgba(83,85,255,0.5);
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.footer-bottom .footer-list{
    flex-direction: row;
}
/* FOOTER STYLE ENDS*/


@media screen and (min-width: 1024px) {
    :root{
        --biggest-font-size: 4rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --smaller-font-size: .813rem;
    }
    .logo{
        width: 100px;
    }

    .slider-text {
        flex-direction: row; 
    }

    .main-text {
        width: 50%; 
    }
}
@media screen and (max-width: 992px) {
    .header{
        padding: 1.3rem 5%;
    }
    .slider-text{
        display: flex;
        flex-direction: column;
    }
    .images-carousel{
        width: 300px;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .slides{
        width: 500%;
        height: 300px;
        display: flex;
    }
    
    .slide img{
        width: 300px;
        height: 300px;
    }
    
    .navigation-manual{
        width: 300px;
    }
    
    .manual-btn{
        border: 2px solid white;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
        transition: 1s;
    }
    
    .manual-btn:not(:last-child){
        margin-right: 25px;
    }
    
    .main{
        text-align: center;
    }

    .more-button{
        margin-bottom: 2rem;
    }

    .slider-text{
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    
    .main-text:first-child{
        font-weight: 200;
        font-size: 14px;
    }
    
    .main-description{
        margin-top: 1rem;
    }
    
    .clubname{
        font-weight: 600;
        font-size: 45px;
        margin-top: 1rem;
    }
    .details-section{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .numbers-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .icons{
        display: inline-flex;
    }

    #checkbox:checked~.icons #hamburger{
        display: none;
    }

    .icons .close{
        display: none;
    }

    #checkbox:checked~.icons #close{
        display: block;
    }
    #checkbox:checked~.navbar{
        height: 16rem;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0 ;
        text-align: center;
        opacity: 0;
        transform: translateY(-50px);
        transition: .3s ease;

    }
    #checkbox:checked~.navbar a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
    .details-section{
        padding-top: 5rem;
        padding: 0 10%;
    }
    .details-box{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .details-header{
        width: 60%;
        font-size: 30px;
    }
    .number{
        font-size: 60px;
    }
    .details{
        font-size: 30px;
    }
    .map-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: start;
        justify-content: start;
        align-items: start;
    }
    .map-section{
        margin-top: 10rem;
        padding: 5rem 10%;
    }
    .map-header{
        font-size: 30px;
    }
    .map{
        width: 100%;
    }
    .footer-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}
